<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center><h1> Your Message has been succesfully sent! </h1></center>

<center><p>Thank you for your message , we will get back to you shortly</p></center>
<%= link_to root_path, "Go Back" %>
