<br>
<br>
<br>
<br>

<div class="ui segment">
<div class="ui form">


<%= simple_form_for([@post, @post.reviews.build]) do |f| %>


<div id="rating-form">
  <label>Rating</label>
  </div>

  <div class="field">
<%= f.input :comment,placeholder:"Tell us your expirience with this influencer, what did you like or dislike?"  %>

</div>
<center>


<%= f.button :submit,  class: "ui orange button" %>
</center>
<% end %>


</div>
</div>



<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'



	});


 $('input[name="#rating-form"]').attr('required', true);

</script>
